<section class="book">
<div class="container">
    <div class="book__wrap">
        <div class="book__content">
            <h2 class="book__title">book a table</h2>
            <form action="#" class="book__form">
                <input placeholder="Name" class="book__input" type="text">
                <input placeholder="Email" class="book__input" type="email">
                <input placeholder="Phone" class="book__input" type="number">
                <select class="book__input">
                    <option>People</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input placeholder="Date (mm/dd)" class="book__input" type="date">
                <select class="book__input">
                    <option>Time</option>
                    <option>15.30</option>
                    <option>16.30</option>
                    <option>17.30</option>
                </select>
                <input class="book__button" type="submit " value="BOOK NOW">
            </form>
        </div>
        <div class="book__img-wrap">
            <img src="./assets/img/Rectangle-3.png" alt="book" class="book__img">
            <span class="book__frame"></span>
        </div>

    </div>
    <p class="book__time-work">Mon - Fri: <span class="book__time">8PM - 10PM</span>, Sat - Sun:  <span class="book__time">8PM - 10PM</span>, Phone: <a href="#"
                                                                                      class="book__contact">+40 729 131 637</a>/<a href="#"
                                                                                                                                                   class="book__contact">+40 726 458 782</a></p>
</div>
</section>