<section class="dishes">
    <div class="container">
        <p class="dishes__section-title">specialties</p>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="dishes__wrap swiper-slide">
                    <div class="dishes__img-wrap">
                        <img src="./assets/img/Rectangle-4.png" alt="dishes" class="dishes__img">
                        <span class="dishes__frame"></span>
                    </div>
                    <div class="dishes__content">
                        <h2 class="dishes__title">chocolate pancakes</h2>
                        <p class="dishes__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                        <p class="dishes__text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet</p>
                    </div>
                </div>
                <div class="dishes__wrap swiper-slide">
                    <div class="dishes__img-wrap">
                        <img src="./assets/img/Rectangle-4.png" alt="dishes" class="dishes__img">
                        <span class="dishes__frame"></span>
                    </div>
                    <div class="dishes__content">
                        <h2 class="dishes__title">chocolate pancakes</h2>
                        <p class="dishes__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                        <p class="dishes__text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet</p>
                    </div>
                </div>
                <div class="dishes__wrap swiper-slide">
                    <div class="dishes__img-wrap">
                        <img src="./assets/img/Rectangle-4.png" alt="dishes" class="dishes__img">
                        <span class="dishes__frame"></span>
                    </div>
                    <div class="dishes__content">
                        <h2 class="dishes__title">chocolate pancakes</h2>
                        <p class="dishes__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                        <p class="dishes__text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>

    </div>
</section>