<header class="header-page">
    <div class="container">
        <nav class="header-page__navigation navigation">
            <ul class="navigation__wrap">
                <li class="navigation__item"><a href="#" class="navigation__link">HOME</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">ABOUT</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">TEAM</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">BOOKING</a></li>
            </ul>
            <img src="./assets/img/Vector.png" alt="logo" class="navigation__logo-img">
            <ul class="navigation__wrap">
                <li class="navigation__item"><a href="#" class="navigation__link">MENU</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">GALERIE</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">EVENTS</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">CONTACT</a></li>
            </ul>
        </nav>
        <section class="header-page__wrap">
            <div class="header-page__work-time work-time">
                <p class="work-time__text">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
            </div>
            <div class="header-page__title-part title-part">
                <h3 class="title-part__subtitle"> RESTAURANT</h3>
                <h1 class="title-part__title">hungry people</h1>
                <div class="title-part__btn-wrap">
                    <a href="#" class="title-part__bth">EXPLORE</a>
                    <a href="#" class="title-part__bth">BOOK TABLE</a>
                </div>
                <div class="title-part__bth-next-wrap">
                    <a href="#" class="title-part__bth-next bth-next"><span class="bth-next__arrey"></span></a>
                </div>
            </div>
            <div class="header-page__social-media social-media ">
                <ul class="social-media__wrap">
                    <li class="social-media__item"><img src="./assets/img/facebook.png" alt="media" class="social-media__img"></li>
                    <li class="social-media__item"><img src="./assets/img/twitter.png" alt="media" class="social-media__img"></li>
                    <li class="social-media__item"><img src="./assets/img/instagram.png" alt="media" class="social-media__img"></li>
                </ul>
            </div>
        </section>
    </div>
</header>