<section class="master">
    <div class="container">
        <p class="master__title">OUR TEAM</p>
        <div class="master__wrap">
            <img src="./assets/img/Rectangle-2.png" alt="master" class="master__img">
            <span class="master__frame"></span>
            <div class="master__content content-master">
                <h2 class="content-master__title">MASTER CHEF</h2>
                <p class="content-master__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                <p class="content-master__text">
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
                </p>
            </div>

        </div>
    </div>
</section>