.menu{
  padding-top: 5rem;
  padding-bottom: 4rem;

  &__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    @include hr-title;
  }
  &__subtitle {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: $black;
    margin-bottom: 1.5rem;
  }

  &__tab{
    margin-top: 5rem;
    display: flex;
    justify-content: center;

  }

  &__tab-item{
    cursor: pointer;
    padding: 2rem 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: $grey-text;
    border-right: 1px solid rgba(51, 51, 51, 0.1);
    &:last-child{
      border-right: none;
    }
  }

}

.disc{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 14rem;
  &__itam{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__dishes{
    font-size: 1.8rem;
    color: $grey-text;
  }
  &__price{
    font-size: 1.8rem;
    color: $grey-text;
  }
  &__ingridient{
    font-size: 1.4rem;
    color: $grey-text;
    opacity: 0.5;
  }
}

